<form action="" class="text-center border border-light p-5" method="post"
      enctype="multipart/form-data">
    <p class="h4 mb-4">Modify BookList</p>
    {% csrf_token %}
    {#                                    title #}
    <input type="text" class="form-control mb-4" name="title"
           placeholder="Please enter the subject." required_id="id_title" value="{{ form.title.value }}">
    {#                                                                        author #}
    <input type="text" class="form-control mb-4" name="author"
           placeholder="Please enter an author." required_id="id_author" value="{{ form.author.value }}">
    {#                                                                        text #}
    <textarea rows=5 type="text" class="form-control mb-4" name="text"
              placeholder="Please enter your details." required_id="id_text">{{ form.text.value }}</textarea>
    {#                                                                        publisher #}
    <input type="text" class="form-control mb-4" name="publisher"
           placeholder="Please enter a publisher." required_id="id_publisher" value="{{ form.publisher.value }}">
    {#                                                                        image upload #}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="id_bookimage" name="bookimage"
                   aria-describedby="inputGroupFileAddon01" accept="image/*">
            <label class="custom-file-label" for="inputGroupFile01">{{ form.bookimage.value }}</label>
        </div>
    </div>
    {#                                                                        submit #}
    <input type="submit" class="btn btn-info btn-block my-4" value="Save" name="_save">
</form>