{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    book_list
{% endblock %}
{% block style %}
    li {
        border-style: solid;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 1px;
    }
{% endblock %}
{% block context %}
    {% for i in object_list %}
        <ul class="list-unstyled">
            <li class="media">
                <img src="{{ i.bookimage.url }}" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ i.title }}</h5>
                            {{ i.author }}<br>
                            {{ i.publisher }}<br><br>
                            {{ i.text }}
                    </div>
                <form action="{% url 'update' pk=i.id%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Modify">
                </form>
                <form action="{% url 'delete' pk=i.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </li>

        </ul>
{#        <div class="card" style="width: 18rem;">#}
{#            <img src="{{ i.bookimage.url }}" class="card-img-top" alt="{{ i.title }}">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">{{ i.title }}</h5>#}
{#                    <p class="card-text">{{ i.author }}</p>#}
{#                    <p class="card-text">{{ i.publisher }}</p>#}
{#                    <a href="{% url 'detail' pk=i.id %}" class="btn btn-primary">Modified</a>#}
{#            </div>#}
{#        </div>#}
    {% endfor %}
{% endblock %}
